.footer__content {
    display: flex;
    position: relative;
    max-width: 100wh;
    height: 100px;
    top: 10px;
    align-items: center;    
  }
  .footer {
    background-color: rgb(55, 71, 53);
    color: #e8fadf;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 250px 0 0 0;
    &__icons{
        position: relative;
        color: #fff;
        font-size: 20px;
        margin: 8px;
    }
  }  
  .footer a {
  color: #fff;  
  }
  $redesSociales: (
     facebook:blue,
     instagram: #c92d8f,
     whatsapp: green,
  );
@each $nombre, $color in $redesSociales {
  .link-#{$nombre}{
    margin: 0 5px;
    padding: 10px;
    text-decoration: none;
    color: $color;
  }  
}