@mixin link-base ($alineacion, $color){
    margin-top: 30px;
    display: flex;
    justify-content: $alineacion;
    color: $color;
    
}
.link-1 {
   @include link-base (start, #545e54);
}
.link-2 {
    @include link-base (center, #545e20);
 }
 .link-3 {
    @include link-base (end, #545e20);
 }